.message-username {
    font-weight: bold;
    font-size: 110%;
}

.message-content {
    font-size: 120%;
}

.input-group {
    left: 450px;
    bottom: 0px;
    position: fixed;
}

.whole-message {

}

.message-list {
    padding: 5px;
}

.indiv-message {
    padding: 10px;
}


.message-buttons {
    float: right;
}