.App {
  text-align: center;
  padding-top: 80px;
}

.App-title {
  font-size: 2.0em;
}

#navbar {
  background: #383838;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.room-list {
  padding: 10px 10px 10px 0px;
}

.active-room {
  padding: 10px 10px 10px 20px;
  float: left;
}

.App-left {
  background: #bebebe;
  height: 100vh;
}

